body {
    font-family: "Comic Sans MS", sans-serif;
    vertical-align: top;
    background-image: url("https://img.buzzfeed.com/buzzfeed-static/static/2016-06/27/13/campaign_images/buzzfeed-prod-fastlane02/which-us-state-should-you-live-in-based-on-your-p-2-20750-1467049412-10_dblbig.jpg");
}

td {
    vertical-align: top;
}


table {
    margin-bottom: 18px;
    font-family: "Impact", sans-serif;
}


button {
    font-size: 70px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}


div {
    margin: 10px 0px;
}

#letter{
    font-size: 600px;
    font-family: "Impact", sans-serif;

}
